<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Free Web tutorials">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="John Doe">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <h1>Bulls and Cows!</h1>
    <p>Your guess: {{guess}}</p>
    <p>Feedback: {{feedback}}</p>
    {% if history %}
    {% for item in history %}
    <p>{{item}}</p>
    {% endfor %}
    {% endif %}
    <form method="post">
        <label for="user_guess">Guess:</label><br>
        <input type="text" id="user_guess" name="user_guess"><br><br>
        <input type="submit" value="Submit">
    </form>

    <br>
    <form action="/reset" method="GET">
        <button type="submit">RESET GAME</button>
    </form>
</body>

</html>